@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope/Manrope-VariableFont_wght.ttf");
}
* {
    box-sizing: border-box;
}
body {
    background-color: C8C8C8;
    font-family:Manrope;
    padding:0 20px;
    margin:0 20px;

    .container-header{       
        display:block;
        text-align: center;
        background-color: white;
        min-height: 70px;
        min-width: 1000px;
        border-radius: 30px;
        font-size: 20px;
       padding-top: 15px;
        
            }
    
    .container{
        max-width: 1440px;
        background-color: white;
        border-radius: 30px;
        margin:auto;
       min-height: 100px;
       text-align: center;
       padding: 30px 16px;
       font-size: 20px;
    


    }

    .section {
        display: block;
        margin: 130px 0;
        background-color: white;
       border-radius: 30px;
       padding-left: 30px;
       padding-top: 1px;

    }

a {
    outline: none;
  text-decoration: none;
  color: black;
  margin: 40px;
}


h1{
    font-size: 97px;
    line-height:100%;
}
.btn {
    padding:25px 450px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    color: #ffffff;
    background-color:black;
}



/* .button {
    background-color: black;
    border: none;
    border-radius: 30px;
   display: inline-block;
   color: white;
   padding: 89px 1319px;
   text-align: center;
   text-decoration: none;
   font-size: 30px; */
}

h2{
    font-size: 97px;
}

p {
    font-size: 30px;
}

    .wrapper {
        display: flex;
      }
.rectangle {
    width: 680px;
    height: 340px;
    background-color: white;
    border-radius: 30px;
    justify-content:space-between;
    display: inline-block;
    margin: 20px;
}




